Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
coverage
.nyc_output
.vscode
.idea
*.log
.DS_Store
Thumbs.db
